#div1{
    background-color: bisque;
    padding: 30px;
    margin: 30px;
    border-radius: 10%;
}
#div2{
    background-color: rebeccapurple;
    padding: 30px;
    margin: 30px;
    border-radius: 10%;
}
#div3{
    background-color: hotpink;
    padding: 30px;
    margin: 30px;
    border-radius: 10%;
}
#div4{
    background-color: teal;
    padding: 30px;
    margin: 30px;
    border-radius: 10%;
}
#div5{
    background-color: firebrick;
    padding: 30px;
    margin: 30px;
    border-radius: 10%;
}